body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

img {
  position: absolute;
  animation: fadein 5s ease 3s;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.square {
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.two {
  position: relative;
}

.btn {
  width: 100px;
  height: 30px;
  text-align: center;
  border: #aaa;
  border-radius: 20%;
  background-color: cornflowerblue;
  font-weight: 600;
  transition: all ease 1s 0s;
}

.btn:hover {
  cursor: pointer;
  width: 150px;
  height: 45px;
  font-size: calc(17px * 1.5);
  background-color: darkcyan;
}

  